@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-primary-bg: #EFF6FF;
  --color-secondary-bg: #FFFFFF;
  --color-secondary: #F3F4F6;
  --color-accent-1: #A5D8FF;
  --color-accent-2: #D0BCFF;
  --color-accent-3: #B197FC;


  --color-dark-primary-bg: #000000;
  --color-dark-secondary-bg: #404040;
  --color-dark-secondary: #737373;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --animate-float: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

body {
  @apply bg-primary-bg text-gray-900 font-sans antialiased;
}